# ENV
.env
.env.*
**/.env
**/.env.*
# but always allow committed templates
!.env.example
!**/.env.example

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo / React Native
.expo
.expo-shared
dist

# Next.js
.next
out

# Logs
logs
*.log

# Mac
.DS_Store

# Build
build
dist

# VSCode
.vscode/*
!.vscode/extensions.json

goldenbook-backend/supabase/.temp/
**/supabase/.temp/